.root{
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-base: rgb(59, 59, 59);
    -fx-background: rgb(59, 59, 59);
}

.button {
    
}

.action-button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 20 12 20;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

.stat-button {
    -fx-background-color: #474747;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 9 10 9 10;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button-red {
    -fx-background-color: red;
}

.button-purple {
    -fx-background-color: purple;
    -fx-text-fill: white;
}

.button-yellow {
    -fx-background-color: yellow;
}

.dealer-button {
    -fx-background-color: #a6a6a6;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.dealer-button:selected {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
}

.card-button {
    -fx-background: rgb(59, 59, 59);
    -fx-padding: 1 1 1 1;
    -fx-border-style: none; 
    -fx-border-width: 0px;
    -fx-border-color: rgb(0, 0, 0);
}

.card-button:selected {
    -fx-opacity: 0.25;
}

.calculate-button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-padding: 8 10 8 10;
    -fx-margin: 2 2 2 2;
}

.read-button {
    -fx-background-color: green;
    -fx-padding: 35 60 35 60;
}

.restart-button {
    -fx-background-color: darkorange;
    -fx-padding: 8 10 8 10;
}

.resolved-action {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.font-red {
    -fx-text-fill: red;
}

.font-pink {
    -fx-text-fill: pink;
}

.font-orange {
    -fx-text-fill: orange;
}

.font-light-blue {
    -fx-text-fill: lightblue;
}

.font-green {
    -fx-text-fill: green;
}

.font-light-green {
    -fx-text-fill: lightgreen;
}

.font-purple {
    -fx-text-fill: purple;
}
